name: stoat

services:
  # MongoDB: Database
  database:
    image: docker.io/mongo:7.0
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASS}
    volumes:
      - ./data/db:/data/db
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh -u $${MONGO_INITDB_ROOT_USERNAME} -p $${MONGO_INITDB_ROOT_PASSWORD} --authenticationDatabase admin localhost:27017/test --quiet
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 10s
    mem_limit: 512m

  # Redis: Event message broker & KV store
  redis:
    image: docker.io/eqalpha/keydb:6.3.4
    restart: always
    healthcheck:
      test: keydb-cli ping
      interval: 10s
      timeout: 5s
      retries: 3
    mem_limit: 128m

  # RabbitMQ: Internal message broker
  rabbit:
    image: docker.io/rabbitmq:4.0
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS}
    volumes:
      - ./data/rabbit:/var/lib/rabbitmq
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 20s
    mem_limit: 256m

  # MinIO: S3-compatible storage server
  minio:
    image: docker.io/minio/minio:RELEASE.2024-10-13T13-34-11Z
    command: server /data
    volumes:
      - ./data/minio:/data
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASS}
      MINIO_DOMAIN: minio
    networks:
      default:
        aliases:
          - revolt-uploads.minio
          # legacy support:
          - attachments.minio
          - avatars.minio
          - backgrounds.minio
          - icons.minio
          - banners.minio
          - emojis.minio
    restart: always
    healthcheck:
      test: mc ready local || exit 1
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 15s
    mem_limit: 256m

  # Caddy: Web server
  caddy:
    image: docker.io/caddy:2.9
    restart: always
    env_file: .env.web
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./data/caddy-data:/data
      - ./data/caddy-config:/config
    healthcheck:
      test: wget -qO- http://localhost:80/health || exit 1
      interval: 15s
      timeout: 5s
      retries: 3
    mem_limit: 128m

  # API server
  api:
    image: ghcr.io/revoltchat/server:20250930-2
    depends_on:
      database:
        condition: service_healthy
      redis:
        condition: service_started
      rabbit:
        condition: service_healthy
    volumes:
      - type: bind
        source: ./Revolt.toml
        target: /Revolt.toml
    restart: always
    mem_limit: 256m

  # Events service
  events:
    image: ghcr.io/revoltchat/bonfire:20250930-2
    depends_on:
      database:
        condition: service_healthy
      redis:
        condition: service_started
    volumes:
      - type: bind
        source: ./Revolt.toml
        target: /Revolt.toml
    restart: always
    mem_limit: 256m

  # Web App
  web:
    image: ghcr.io/revoltchat/client:20250930-2
    restart: always
    env_file: .env.web
    mem_limit: 128m

  # File server
  autumn:
    image: ghcr.io/revoltchat/autumn:20250930-2
    depends_on:
      database:
        condition: service_healthy
      createbuckets:
        condition: service_started
    volumes:
      - type: bind
        source: ./Revolt.toml
        target: /Revolt.toml
    restart: always
    mem_limit: 256m

  # Metadata and image proxy
  january:
    image: ghcr.io/revoltchat/january:20250930-2
    volumes:
      - type: bind
        source: ./Revolt.toml
        target: /Revolt.toml
    restart: always
    mem_limit: 256m

  # Tenor proxy
  gifbox:
    image: ghcr.io/revoltchat/gifbox:20250930-2
    volumes:
      - type: bind
        source: ./Revolt.toml
        target: /Revolt.toml
    restart: always
    mem_limit: 128m

  # Regular task daemon
  crond:
    image: ghcr.io/revoltchat/crond:20250930-2
    depends_on:
      database:
        condition: service_healthy
      minio:
        condition: service_started
    volumes:
      - type: bind
        source: ./Revolt.toml
        target: /Revolt.toml
    restart: always
    mem_limit: 128m

  # Push notification daemon
  pushd:
    image: ghcr.io/revoltchat/pushd:20250930-2
    depends_on:
      database:
        condition: service_healthy
      redis:
        condition: service_started
      rabbit:
        condition: service_healthy
    volumes:
      - type: bind
        source: ./Revolt.toml
        target: /Revolt.toml
    restart: always
    mem_limit: 128m

  # Create buckets for minio.
  createbuckets:
    image: docker.io/minio/mc:RELEASE.2024-10-08T09-37-26Z
    depends_on:
      - minio
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASS: ${MINIO_ROOT_PASS}
    entrypoint: >
      /bin/sh -c "
      while ! /usr/bin/mc ready minio; do
        /usr/bin/mc alias set minio http://minio:9000 $${MINIO_ROOT_USER} $${MINIO_ROOT_PASS};
        echo 'Waiting minio...' && sleep 1;
      done;
      /usr/bin/mc mb minio/revolt-uploads;
      exit 0;
      "
